@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model IEnumerable<FileViewModel>

@{
    ViewData["Title"] = "My files";
}

<h3>@Localizer["MyFilesHeader"]</h3>

<form asp-action="Index" method="get" class="d-flex align-content-between my-1">
    <input type="text" name="NamePart" placeholder="@Localizer["SearchPlaceholder"]" class="d-flex me-1" value="@ViewData["NamePart"]" />
    <button type="submit" class="btn btn-light me-4 d-flex align-items-center">
        <svg fill="#000000" height="16px" width="16px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 488.4 488.4" xml:space="preserve">
            <g>
                <g>
                    <path d="M0,203.25c0,112.1,91.2,203.2,203.2,203.2c51.6,0,98.8-19.4,134.7-51.2l129.5,129.5c2.4,2.4,5.5,3.6,8.7,3.6    s6.3-1.2,8.7-3.6c4.8-4.8,4.8-12.5,0-17.3l-129.6-129.5c31.8-35.9,51.2-83,51.2-134.7c0-112.1-91.2-203.2-203.2-203.2    S0,91.15,0,203.25z M381.9,203.25c0,98.5-80.2,178.7-178.7,178.7s-178.7-80.2-178.7-178.7s80.2-178.7,178.7-178.7    S381.9,104.65,381.9,203.25z" />
                </g>
            </g>
        </svg>
    </button>

    <select id="sortSelect" onchange="this.form.submit()" name="SortParam" class="d-flex">
        <option value="@SortParamConstants.SizeAscending">@Localizer["SortBySizeOptionText"] 🠅</option>
        <option value="@SortParamConstants.SizeDescending">@Localizer["SortBySizeOptionText"] 🠇</option>
        <option value="@SortParamConstants.DateAscending">@Localizer["SortByDateOptionText"] 🠅</option>
        <option value="@SortParamConstants.DateDescending">@Localizer["SortByDateOptionText"] 🠇</option>
    </select>
</form>

@if (@Model.Any())
{
    <ol class="list-group">
        @foreach (var file in @Model)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">@file.Name</div>
                    @file.UploadTime
                </div>

                <div class="ms-2 me-auto">
                    @file.Size
                </div>

                @* <div class="ms-2 me-auto">
                    <button id="publicButton" hidden class="btn btn-light mx-2 d-flex align-items-center" asp-controller="MyFiles" asp-action="" asp-route-fileId="@file.Id">
                        <svg fill="#000000" height="16px" width="16px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 330 330" xml:space="preserve">
                            <g>
                                <path d="M15,160c8.284,0,15-6.716,15-15V85c0-30.327,24.673-55,55-55c30.327,0,55,24.673,55,55v45h-25   c-8.284,0-15,6.716-15,15v170c0,8.284,6.716,15,15,15h200c8.284,0,15-6.716,15-15V145c0-8.284-6.716-15-15-15H170V85   c0-46.869-38.131-85-85-85S0,38.131,0,85v60C0,153.284,6.716,160,15,160z" />
                            </g>
                        </svg>
                        <span>Public</span>
                    </button>

                    <button id="privateButton" hidden class="btn btn-light mx-2 d-flex align-items-center" onclick="privateButtonClick(@file.Id)">
                        <svg fill="#000000" height="16px" width="16px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 330 330" xml:space="preserve">
                            <g>
                                <path d="M65,330h200c8.284,0,15-6.716,15-15V145c0-8.284-6.716-15-15-15h-15V85c0-46.869-38.131-85-85-85   S80,38.131,80,85v45H65c-8.284,0-15,6.716-15,15v170C50,323.284,56.716,330,65,330z M207.481,219.356l-42.5,42.5   c-2.929,2.929-6.768,4.394-10.606,4.394s-7.678-1.465-10.606-4.394l-21.25-21.25c-5.858-5.858-5.858-15.354,0-21.213   c5.857-5.858,15.355-5.858,21.213,0l10.644,10.643l31.894-31.893c5.857-5.858,15.355-5.858,21.213,0   C213.34,204.002,213.34,213.498,207.481,219.356z M110,85c0-30.327,24.673-55,55-55s55,24.673,55,55v45H110V85z" />
                            </g>
                        </svg>
                        <span>Private</span>
                    </button>
                </div> *@

                @using (Html.BeginForm("Delete", "MyFiles", FormMethod.Post))
                {
                    @Html.Hidden("fileId", @file.Id) <!-- Assuming you have an Id to pass -->
                    @Html.AntiForgeryToken() <!-- Optional for security -->
                    //@Html.Hidden("_method", "DELETE")

                    <button type="submit" class="btn btn-light mx-2 d-flex align-items-center" onclick="return confirm('@Localizer["DeleteConfirmQuestion"] @file.Name?');">
                        <svg fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="16px" viewBox="0 0 482.428 482.429" xml:space="preserve">
                        <g>
                            <g>
                                <path d="M381.163,57.799h-75.094C302.323,25.316,274.686,0,241.214,0c-33.471,0-61.104,25.315-64.85,57.799h-75.098    c-30.39,0-55.111,24.728-55.111,55.117v2.828c0,23.223,14.46,43.1,34.83,51.199v260.369c0,30.39,24.724,55.117,55.112,55.117    h210.236c30.389,0,55.111-24.729,55.111-55.117V166.944c20.369-8.1,34.83-27.977,34.83-51.199v-2.828    C436.274,82.527,411.551,57.799,381.163,57.799z M241.214,26.139c19.037,0,34.927,13.645,38.443,31.66h-76.879    C206.293,39.783,222.184,26.139,241.214,26.139z M375.305,427.312c0,15.978-13,28.979-28.973,28.979H136.096    c-15.973,0-28.973-13.002-28.973-28.979V170.861h268.182V427.312z M410.135,115.744c0,15.978-13,28.979-28.973,28.979H101.266    c-15.973,0-28.973-13.001-28.973-28.979v-2.828c0-15.978,13-28.979,28.973-28.979h279.897c15.973,0,28.973,13.001,28.973,28.979    V115.744z" />
                                <path d="M171.144,422.863c7.218,0,13.069-5.853,13.069-13.068V262.641c0-7.216-5.852-13.07-13.069-13.07    c-7.217,0-13.069,5.854-13.069,13.07v147.154C158.074,417.012,163.926,422.863,171.144,422.863z" />
                                <path d="M241.214,422.863c7.218,0,13.07-5.853,13.07-13.068V262.641c0-7.216-5.854-13.07-13.07-13.07    c-7.217,0-13.069,5.854-13.069,13.07v147.154C228.145,417.012,233.996,422.863,241.214,422.863z" />
                                <path d="M311.284,422.863c7.217,0,13.068-5.853,13.068-13.068V262.641c0-7.216-5.852-13.07-13.068-13.07    c-7.219,0-13.07,5.854-13.07,13.07v147.154C298.213,417.012,304.067,422.863,311.284,422.863z" />
                            </g>
                        </g>
                        </svg>
                        <span class="visually-hidden">Delete</span>
                    </button>
                }

                <button onclick="openShortLinkModal('@file.Id')" class="btn btn-light mx-2 d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link" viewBox="0 0 16 16">
                        <path d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z"></path>
                        <path d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z"></path>
                    </svg>
                    <span class="visually-hidden">Link</span>
                </button>

                <a target="_blank" class="btn btn-light mx-2 d-flex align-items-center" asp-controller="MyFiles" asp-action="Download" asp-route-fileId="@file.Id">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"></path>
                        <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"></path>
                    </svg>
                    <span class="visually-hidden">Download</span>
                </a>
            </li>
        }
    </ol>
}
else
{
    <div>
        @Localizer["YouHasntFilesAnotation"]
    </div>
}

<!-- Modal -->
<div class="modal fade" id="shortLinkModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content p-3">
            <h5 class="modal-title mb-3">Сгенерированная ссылка</h5>
            <div class="input-group mb-3">
                <input id="shortLinkInput" type="text" class="form-control" readonly />
                <button class="btn btn-outline-secondary" type="button" onclick="copyShortLink()">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                        <title>ic_fluent_copy_link_24_regular</title>
                        <desc>Created with Sketch.</desc>
                        <g id="Product-Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="ic_fluent_copy_link_24_regular" fill="#212121" fill-rule="nonzero">
                                <path d="M13.7533481,2 C14.9105985,2 15.863488,2.8749731 15.9865561,3.9994587 L17.75,4 C18.940864,4 19.9156449,4.92516159 19.9948092,6.09595119 L20,6.25 L20,12.25 C20,12.6642136 19.6642136,13 19.25,13 C18.8703042,13 18.556509,12.7178461 18.5068466,12.3517706 L18.5,12.25 L18.5,6.25 C18.5,5.87030423 18.2178461,5.55650904 17.8517706,5.50684662 L17.75,5.5 L15.6182905,5.49983563 C15.214809,6.09910034 14.5301141,6.49330383 13.7533481,6.49330383 L10.2466519,6.49330383 C9.46988587,6.49330383 8.78519098,6.09910034 8.38170952,5.49983563 L6.25,5.5 C5.87030423,5.5 5.55650904,5.78215388 5.50684662,6.14822944 L5.5,6.25 L5.5,19.754591 C5.5,20.1342868 5.78215388,20.448082 6.14822944,20.4977444 L6.35177056,20.5114376 C6.71784612,20.5611 7,20.8748952 7,21.254591 C7,21.6688046 6.66421356,22.004591 6.25,22.004591 C5.05913601,22.004591 4.08435508,21.0794294 4.00519081,19.9086398 L4,19.754591 L4,6.25 C4,5.05913601 4.92516159,4.08435508 6.09595119,4.00519081 L6.25,4 L8.01344395,3.9994587 C8.13651196,2.8749731 9.08940148,2 10.2466519,2 L13.7533481,2 Z M17.25,14.5 L18.25,14.5 C20.3210678,14.5 21.9999918,16.1789322 21.9999918,18.25 C21.9999918,20.2542592 20.4276389,21.8912737 18.4522792,21.994802 L18.2534432,22 L17.2534432,22.0045992 C16.839234,22.0064847 16.5019095,21.6722434 16.4999918,21.2580342 C16.4982641,20.8783424 16.778975,20.5632552 17.1448187,20.5119127 L17.2465568,20.5045989 L18.25,20.5 C19.4926407,20.5 20.4999918,19.4926407 20.4999918,18.25 C20.4999918,17.059136 19.5748384,16.0843551 18.4040488,16.0051908 L18.25,16 L17.25,16 C16.8357864,16 16.4999918,15.6642136 16.4999918,15.25 C16.4999918,14.8703042 16.7821539,14.556509 17.1482294,14.5068466 L17.25,14.5 L18.25,14.5 L17.25,14.5 Z M12.25,14.5 L13.25,14.5 C13.6642136,14.5 14,14.8357864 14,15.25 C14,15.6296958 13.7178461,15.943491 13.3517706,15.9931534 L13.25,16 L12.25,16 C11.0073593,16 10,17.0073593 10,18.25 C10,19.440864 10.9251616,20.4156449 12.0959512,20.4948092 L12.25,20.5 L13.25,20.5 C13.6642136,20.5 14,20.8357864 14,21.25 C14,21.6296958 13.7178461,21.943491 13.3517706,21.9931534 L13.25,22 L12.25,22 C10.1789322,22 8.5,20.3210678 8.5,18.25 C8.5,16.2457408 10.0723611,14.6087263 12.0508414,14.505198 L12.25,14.5 L13.25,14.5 L12.25,14.5 Z M12.25,17.5 L18.25,17.5 C18.6642136,17.5 19,17.8357864 19,18.25 C19,18.6296958 18.7178461,18.943491 18.3517706,18.9931534 L18.25,19 L12.25,19 C11.8357864,19 11.5,18.6642136 11.5,18.25 C11.5,17.8703042 11.7821539,17.556509 12.1482294,17.5068466 L12.25,17.5 L18.25,17.5 L12.25,17.5 Z M13.7533481,3.5 L10.2466519,3.5 C9.83428745,3.5 9.5,3.83428745 9.5,4.24665191 C9.5,4.65901638 9.83428745,4.99330383 10.2466519,4.99330383 L13.7533481,4.99330383 C14.1657126,4.99330383 14.5,4.65901638 14.5,4.24665191 C14.5,3.83428745 14.1657126,3.5 13.7533481,3.5 Z" id="🎨-Color">

                                </path>
                            </g>
                        </g>
                    </svg>
                </button>
            </div>
            <div class="mb-2">
                <label for="maxDownloadsInput" class="form-label">Максимум скачиваний</label>
                <div class="d-flex align-items-center">
                    <input type="number" id="maxDownloadsInput" class="form-control me-2" min="1" value="1">
                    <div class="form-check form-switch align-self-center me-2">
                        <input class="form-check-input" type="checkbox" id="unlimitedSwitch" onchange="toggleUnlimited()">
                        <label class="form-check-label" for="unlimitedSwitch">∞</label>
                    </div>
                    <button class="btn btn-outline-primary" onclick="updateLink()">Обновить</button>
                </div>
                <span id="currentDownloads" class="me-2 text-muted small"></span>
            </div>
            <div class="d-flex align-items-center gap-2 mt-3">
                <div class="flex-grow-1">
                    <label for="linkLengthRange" class="form-label mb-1">Длина ссылки: <span id="linkLengthLabel">20</span></label>
                    <input type="range" class="form-range" min="10" max="30" id="linkLengthRange" value="20"
                           oninput="document.getElementById('linkLengthLabel').innerText = this.value">
                </div>
                <button class="btn btn-secondary flex-shrink-0" style="white-space: nowrap;" onclick="confirmRegenerateLink()">
                    Создать новую ссылку
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.getElementById("sortSelect").value = "@(ViewData["SortParam"] ?? SortParamConstants.DateDescending)";
        let currentFileId = null;
        let shortLinkModal = null;

        function openShortLinkModal(fileId) {
            currentFileId = fileId;
            document.getElementById('shortLinkInput').value = '';
            document.getElementById('maxDownloadsInput').disabled = false;
            document.getElementById('unlimitedSwitch').checked = false;
            document.getElementById('currentDownloads').textContent = '';

            if (!shortLinkModal) {
                shortLinkModal = new bootstrap.Modal(document.getElementById('shortLinkModal'));
            }

            fetch(`/MyFiles/GetShortLink?fileId=${fileId}`)
                .then(r => r.ok ? r.json() : null)
                .then(data => {
                    if (!data) return generateLink();
                    fillShortLinkModal(data);
                    shortLinkModal.show();
                });
        }

        function generateLink() {
            const length = document.getElementById('linkLengthRange').value;
            fetch(`/MyFiles/GenerateShortLink?fileId=${currentFileId}&length=${length}`)
                .then(r => r.ok ? r.json() : null)
                .then(data => fillShortLinkModal(data));
        }

        function confirmRegenerateLink() {
            if (confirm('Вы точно хотите деактивировать старую ссылку и создать новую?')) {
                generateLink();
            }
        }

        function updateLink() {
            const max = document.getElementById('maxDownloadsInput').value;
            const unlimited = document.getElementById('unlimitedSwitch').checked;
            fetch(`/MyFiles/UpdateShortLink`, {
                method: 'POST',
                headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                body: `fileId=${currentFileId}&maxDownloads=${max}&unlimited=${unlimited}`
            })
            .then(r => r.ok ? r.json() : null)
            .then(data => fillShortLinkModal(data));
        }

        function fillShortLinkModal(data) {
            document.getElementById('shortLinkInput').value = data.shortUrl;
            document.getElementById('maxDownloadsInput').value = data.max;
            document.getElementById('unlimitedSwitch').checked = data.unlimited;
            document.getElementById('currentDownloads').textContent = `Скачано: ${data.current}`;
            
            // Установка значения длины ссылки
            const actualLength = data.shortUrl?.length || 20;
            const linkLengthSlider = document.getElementById('linkLengthRange');
            const label = document.getElementById('linkLengthLabel');
            linkLengthSlider.value = actualLength;
            label.textContent = actualLength;

            toggleUnlimited();
            shortLinkModal.show();
        }

        function copyShortLink() {
            const input = document.getElementById('shortLinkInput');
            navigator.clipboard.writeText(input.value).then(() => {
                input.classList.add('border-success');
                setTimeout(() => input.classList.remove('border-success'), 1000);
            });
        }

        function toggleUnlimited() {
            document.getElementById('maxDownloadsInput').disabled = document.getElementById('unlimitedSwitch').checked;
        }
    </script>
}
